import { Heading, Text } from '@chakra-ui/react'
import { Section } from '@components/Layout'

export default function {{pascalCase name}}() {
  return (
    <Section>
      <Heading>{{pascalCase name}}</Heading>
      <Text maxW='65ch'>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nemo
        veniam sequi nostrum, in repellat sit doloremque dolorum eligendi
        aperiam. Est officiis, odio explicabo nihil animi illo dolores
        voluptatem fugit?
      </Text>
    </Section>
  )
}
