@use 'theme.scss' as *;
@use 'fonts.scss' as *;

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

a {
  color: $steel-blue;
  text-decoration: none;
  font-weight: bolder;
}

* {
  box-sizing: border-box;
}

code {
  font-family: "Menlo", monospace;
  padding: 1em;
  border-radius: 6px;
}
