@use 'theme.scss' as *;
@use 'fonts.scss' as *;

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: $sansFont;
  background: $silver;
  color: $dark;
}

h1,
h2,
h3 {
  font-family: $serifFont;
  font-weight: 900;
}

a {
  text-decoration: none;
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

code {
  font-family: $codeFont;
  padding: 1em;
  border-radius: 6px;
}
